.DS_Store
**/.DS_Store
**/.claude
**/.codex

wandb/

# 数据文件
data/**/*.parquet
data/__pycache__/

# Hydra 输出和日志
outputs/

# Python 缓存
__pycache__/
*.pyc
*.pyo
rewards/__pycache__

# IDE
.vscode/

# checkpoints
checkpoints/